<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreditStatistics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProjectStatistics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CreditStatistics.Properties.Settings>
            <setting name="InitialUrl" serializeAs="String">
                <value>https://milkyway.cs.rpi.edu/milkyway/results.php?hostid=959559&amp;offset=0&amp;show_names=0&amp;state=4&amp;appid=</value>
            </setting>
            <setting name="AskForStudy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskForBoinctasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeoutProj" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TimeoutPC" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PC_CPU_GPU" serializeAs="String">
                <value />
            </setting>
            <setting name="SprintGrelease" serializeAs="String">
                <value />
            </setting>
            <setting name="SprintGend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalHostName" serializeAs="String">
                <value />
            </setting>
            <setting name="nMasterUrls" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoincWebPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="BoincWebUsername" serializeAs="String">
                <value />
            </setting>
        </CreditStatistics.Properties.Settings>
        <ProjectStatistics.Properties.Settings>
            <setting name="InitialUrl" serializeAs="String">
                <value>https://milkyway.cs.rpi.edu/milkyway/results.php?hostid=959559&amp;offset=0&amp;show_names=0&amp;state=4&amp;appid=</value>
            </setting>
            <setting name="AskForStudy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AskForBoinctasks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeoutProj" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="TimeoutPC" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PC_CPU_GPU" serializeAs="String">
                <value />
            </setting>
            <setting name="SprintGrelease" serializeAs="String">
                <value />
            </setting>
            <setting name="SprintGend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalHostName" serializeAs="String">
                <value />
            </setting>
            <setting name="nMasterUrls" serializeAs="String">
                <value>0</value>
            </setting>
        </ProjectStatistics.Properties.Settings>
    </userSettings>
</configuration>